.accounts-dashboard {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-form {
  padding: 30px;
  background: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
